


<header>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-7">
          <h2>
            <%= link_to "ながのCAKE", items_path, class: "header_logo" %>
          </h2>
        </div>
       </div>
    </div>
  </div>
</header>

<section>
    <div class="container">

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>




        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="line1 clearfix">
          <div class="mail-name">
            <%= f.label :メールアドレス %>
          </div>
          <div class="mail-field">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",:size=>"35" %>
          </div>
        </div>

        <div class="line2 clearfix">
          <div class="pass-name">
            <%= f.label :パスワード %>
          </div>
          <div class="pass-field">
            <%= f.password_field :password, autocomplete: "current-password",:size=>"35" %>
          </div>
          </div>
        </div>

         </div>

      </div>

          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary",style:"WIDTH: 150px; HEIGHT: 40px"%>
          </div>
        <% end %>

        <%#<%= render "staffs/shared/links" %>

</section>

