<!DOCTYPE html>
<html>
<head>
  <title>nagano_cake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/b3982dc813.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-xs-7">
          <h2>
            <%= link_to "ながのCAKE", items_path, class: "header_logo" %>
          </h2>
        </div>
       </div>
    </div>
  </div>
</header>

<section>
    <div class="container">

      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>



        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>


          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%#<%= render "staffs/shared/links" %>
    </div>
</section>
