<div class="customer-sign-up container">
  <div class="row">
    <div class="col-xs-6">
      <div class="">
        <h3>新規登録</h3>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>



          <div class="field">
            <%= f.label :姓 %><%= f.text_field :surname, autofocus: true, autocomplete: "surname" %>
            <%= f.label :名 %><%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </div>


          <div class="field">
            <%= f.label :"性(カナ)" %><%= f.text_field :surname_kana, autofocus: true, autocomplete: "surname_kana" %>
            <%= f.label :"名(カナ)" %><%= f.text_field :name_kana, autofocus: true, autocomplete: "name_kana" %>
          </div>

          <div class="field">
            <%= f.label :メールアドレス %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :電話番号 %>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
          </div>

          <div class="field">
            <%= f.label :パスワード %>
            <%#<% if @minimum_password_length %>
            <!-- <%#<em>(<%= @minimum_password_length %> characters minimum)</em> -->
            <%#<% end %>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :"パスワード確認" %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :郵便番号 %>
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
          </div>

          <div class="field">
            <%= f.label :住所 %>
            <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
          </div>


          <div class="actions">
            <%= f.submit "新規登録", class: "btn btn-primary" %>
          </div>

          <div class="log-in-by">
            <h3 class="log-in-text">登録済みの方</h3>
            <span><%= link_to "こちら", new_session_path(resource_name) %>からログイン</span>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>