


<h1>配送先登録/一覧</h1>
<%= form_for(@sub_address) do |f| %>
	<p>郵便番号</p>
	<%= f.text_field :postal_code %>
	<p>住所</p>
	<%= f.text_area :shipping_address %>
	<p>宛名</p>
	<%= f.text_field :delivery_name %>

	<br><%= f.submit "登録する", class: "pull-right", class: "btn btn-warning" %>
<% end %>

<table class="table table-striped" >
	<thead>
		<tr>
			<th>郵便番号</th>
			<th>住所</th>
			<th>宛名</th>
		</tr>
	</thead>
	<% @sub_addresses.each do |sub_address| %>
	<tbody>
		<tr>
			<td><%= sub_address.postal_code %></td>
			<td><%= sub_address.shipping_address %></td>
			<td><%= sub_address.delivery_name %></td>
			<td><%= link_to "編集する", sub_address_path(sub_address), class: "pull-right", class: "btn btn-warning" %>    <%= link_to "削除する", sub_address_path(sub_address), method: :delete, class: "pull-right", class: "btn btn-warning","data-confirm" => "本当に削除しますか？" %></td>
		</tr>
	</tbody>
	<% end %>
</table>









