<h1>配送先編集</h1>
<%= form_for(@sub_address) do |sub_address| %>
<p>郵便番号</p>
<%= sub_address.text_field :postal_code %>
<p>住所</p>
<%= sub_address.text_area :shipping_address %>
<p>宛名</p>
<%= sub_address.text_field :delivery_name %>

<%= sub_address.submit "編集する", class:"btn btn-lg btn-block btn-base-1 mt-20" %>


<% end %>