<h1>購入情報入力</h1>
<p>支払い方法</p>

<%= form_with url: orders_check_path,method: :get ,local: true do |f| %>


  <%= f.radio_button :method_of_payment, :true %>
  <%= f.label :method_of_payment, "クレジットカード" %>
  <%= f.radio_button :method_of_payment, :false %>
  <%= f.label :method_of_payment, "銀行振込" %>





<p>お届け先</p>
<h2>ご自身の住所</h2>

<%= f.label  %>
<%= f.radio_button("1", "radio 1") %>
<%= f.radio_button("2", "radio 2") %>

<%= f.select :order_status, SubAddress.all.map { |f| [postal_code, shipping_address, delivery_name]} %>


	<%= f.radio_button("3", "radio 3") %>
		<p>郵便番号</p>
		<%= f.text_field :postal_code %>
		<p>住所</p>
		<%= f.text_area :shipping_address %>
		<p>宛名</p>
		<%= f.text_field :delivery_name %>

<%= f.submit "送信" %>

<% end %>





