<div class="row">
  <div class="col-xs-12">
  <h2>購入情報入力</h2>
  <h3>支払い方法</h3>

  <%= form_with url: orders_check_path, method: :get ,local: true do |f| %>

    <%= f.radio_button :method_of_payment, :true %>
    <%= f.label :method_of_payment, "クレジットカード" %>
    <%= f.radio_button :method_of_payment, :false %>
    <%= f.label :method_of_payment, "銀行振込" %>
  </div>
</div>


<h3>お届け先</h3>
  <div class="row">
    <div class="col-xs-7">
		<table class ="table">
				<tr>
					<td><%= f.radio_button("radio_num", "1") %>ご自身の住所<br>
		  <% @address  = "〒" + current_customer.postal_code +  "  " + current_customer.address + "  " + current_customer.surname + current_customer.name %>
		  <%= f.hidden_field :address ,:value => @address %><%= @address %></td>
				</tr>
				<tr>
					<td><label><%= f.radio_button("radio_num", "2") %>登録先住所から選択</label><br>
		  <%= f.select :sub_address, current_customer.sub_addresses.map { |subaddress| [subaddress.postal_code + "  " + subaddress.shipping_address + "  " + subaddress.delivery_name, subaddress.id ]} %><br></td>
				</tr>

				<tr>
					<td><label><%= f.radio_button("radio_num", "3") %>新しいお届け先</label><br>
		    <p>郵便番号</p>
		    <%= f.text_field :postal_code %>
		    <p>住所</p>
		    <%= f.text_area :shipping_address %>
		    <p>宛名</p>
		    <%= f.text_field :delivery_name %>
		    <%= f.hidden_field :new_sub_address ,:value => @new_sub_address %><%= @new_sub_address %></td>
				</tr>
		</table>
    </div>
  </div>

		<div class="button">
		<%= f.submit "確認画面へ進む", class: "pull-right", class: "btn btn-warning" %>
		</div>

		<% end %>



