<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <div class="container">
    <h2>商品画面</h2>

    <tr><%= attachment_image_tag @item, :item_image, :fill, 200, 200, fallback: "no_image.png", size: '200x200'  %></tr>
	<div class='row'>
    <table class='table'>
          <tr>
            <th>商品名</th>
            <th><%= @item.name %></th>
          </tr>
          <tr>
            <th>商品説明</th>
            <th><%= @item.description %></th>
          </tr>　
          <tr>
            <th>ジャンル</th>
            <th><%= @item.genre.name %></th>
          </tr>
          <tr>
            <th>税込価格（税抜価格）</th>
            <th><%= @item.priceWithTax.to_i %>(<%= @item.non_taxed_price.to_i %>)円</th>
          </tr>
          <tr>
          <th>販売ステータス</th>
            <th><%= @item.sale_status.i18n %></th>
          </tr>
    </table>

    <div class= "row">
        <th> <%= link_to 'edit', edit_admins_item_path(@item) %></th>
    </div>
  </div>
<footer>
</footer>

</body>
</html>



