<div class="customer-sign-in container">
  <div class="row">
    <div class="col-xs-8  col-md-offset-2">
      <div class="coutomer-sign-in clearfix">

        <h3>会員の方はこちらからログイン</h3>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="coutomer-line1 clearfix">
            <div class="coutomer-mail-name">
              <%= f.label :メールアドレス %>
            </div>
            <div class="coutomer-mail-field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>

          <div class="coutomer-line2 clearfix">
            <div class="coutomer-pass-name">
              <%= f.label :パスワード %>
            </div>
            <div class="coutomer-pass-field">
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>
          </div>


          <div class="coutomer-actions">
            <span class="log-in-btn"><%= f.submit "ログイン", class: "btn btn-primary" %></span><span class=passwaord-forget><%= link_to "=> パスワードを忘れた方はこちら", new_password_path(resource_name) %></span>
          </div>


          <div class="sign-up-by">
            <h3 class="log-in-text">登録がお済みでない方</h3>
            <span><%= link_to "こちら", new_registration_path(resource_name) %>から新規登録を行ってください。</span>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>