<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <div class="container">
    <h2>ショッピングカート</h2>
	  </div>
	  	<%= link_to 'カートを空にする', cart_items_path, method: :delete %>
		<div class='row'>
	    <table class='table table-hover table-inverse'>
	      <thead>
	        <tr>
	          <th>商品名</th>
	          <th></th>
	          <th>単価(税込)</th>
	          <th>数量</th>
	          <th></th>
	          <th>小計</th>
	          <th></th>
	        </tr>
	      </thead>

	      <tbody>
	    	<% total = 0 %>

			<% @cart_items.each do |cart_item| %>
				<th><%= attachment_image_tag cart_item.item, :item_image, :fill, 100, 100, fallback: "no_image.png", size: '100x100'  %></th>
				<th><%= cart_item.item.name %></th>
				<th><%= cart_item.item.Tax_included_price.to_i %></th>
			 <th>
			 	<%= cart_item.item.non_taxed_price * cart_item.quantity.to_i %>
	         	<%= form_for(@cart_item) do |f| %>
	     		<%= f.text_field :quantity %>
	     	　</th>
	 		　<th><%= f.submit '変更' %></th>
	 			<% end %>
	         <th><%= 小計 %></th>
	         <th><%= link_to '削除する', cart_item_path(@cart_item), method: :delete %></th>
	    	<% total = cart_item.item.non_taxed_price * cart_item.quantity %>

	        <% end %>
	      </tbody>
	    </table>

	    <%= link_to '買い物を続ける', items_path %>

	    <tr>
	    	<th>合計金額</th>
	    	<th><%= total %></th>
	    </tr>
	    <%= link_to '情報入力に進む', new_order_path(@cart_items) %>
	  </div>

<footer>
</footer>

</body>
</html>
