<div class="container">
  <h2>注文詳細画面</h2>
</div>
<table class='table'>
      <tr>
        <th>購入者</th>
        <th><%= @orde.surname + @order.name %></th>
      </tr>
      <tr>
        <th>配送先</th>
        <th><%= @orde.postale_code + @order.shipping_address + @order.delivery_name %></th>
      </tr>　
      <tr>
        <th>支払い方法</th>
        <th><%= @order.method_of_payment %></th>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <th>
          <div class="field">
            <%= form_for(@order) do |f| %>
            <%= f.label :order_status %>
            <%= f.select :order_status, Order.order_status_i18n.keys.map {|k| [Order.order_status_i18n[k], k]} %>
        </th>
        <th>
            <%= f.submit "更新" %>
            <% end %>
        </th>
      </tr>
</table>

<div class='row'>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @order.each do |order| %>
        <th><%= order.order_items.item.name %></th>
        <th><%= order.order_items.tax_included_price %></th>
        <th><%= order.order_items.order_quantity %></th>
        <th><%= order.order_items.tax_included_price * order.order_items.order_quantity %></th>
        <%= form_for(@order) do |f| %>
          <th>%= f.select :create _status, OrderItems.create _status_i18n.keys.map {|k| [OrderItems.create _status_i18n[k], k]} %></th>
          <th><<%= f.submit "更新" %></th>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

