  <div class="row">
    <div class="col-xs-3">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td>
                <% if genre.genre_status == true %>
                  <%= link_to items_path do %>
                    <%= genre.name %>
                  <% end %>

                  <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-9">
      <div class="title">ケーキ
        <span class="item_count">全 <%= @items_count %> 件</span>
      </div>

        <div class="item_list_box">
            <% @items.each do |item| %>
            <div class="item">
                <%= attachment_image_tag item, :item_image, :fill, 200, 150, format: 'jpeg', class: "img-rounded pull-left profile-img", fallback: "no_image.jpg", :size =>'200x150' %>
                <div class="item_btn">
                <%= link_to item.name, item_path(item.id), class: "item_link" %>
                </div>
                <div class="price_text">
                  <% @item_price = item.non_taxed_price.to_i * 1.1  %>
                ¥<%= @item_price.floor  %>
                </div>
            </div>
            <% end %>
        </div>
        <%= paginate @items, class: "paginate" %>
    </div>

  </div>
